{% extends 'base.html.twig' %}

{% block title %}Edit message{% endblock %}

{% block nav %}
    <div id="menu" class="container">
        <div class="row">
            <div class="col-lg-13 text-lg-center">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('forum') }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="menu" class="container">
        <div class="row">
             <div class="col-lg-13 text-lg-center">
                {{ form_start(edit_message) }}
                    {{ form_errors(edit_message) }}
                    <label>Actuel Message:</label> {{ message.getText }}
                    {{ form_label(edit_message.edit) }}
                {{ form_end(edit_message) }}
            </div>
        </div>
    </div>
{% endblock %}