{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block nav %}
    <div id="menu" class="container">
        <div class="row">
            <div class="col-lg-13 text-lg-center">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('forum') }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="title_topic" class="container">
       <h2>{{ topic.title }}</h2>
    </div>
    {% for thread in threads %}
        <div class="container thread">
            <div class="user_info">
                <img src="..." alt="..." class="img-rounded">
                <p class="user_name">{{ thread.getUser }}</p>
            </div>
            <div class="user_text">
                <p class="user_message">{{ thread.getText }}</p>
            </div>
            {{ thread.getTimestamp()|date('Y-m-d H:i') }}
        </div>
    {% endfor %}
    <div class="container reply">
        {{ form_start(new_reply) }}
            {{ form_errors(new_reply) }}

            {{ form_row(new_reply.reply) }}
        {{ form_end(new_reply) }}
    </div>
{% endblock %}