{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block nav %}
    <div id="menu" class="container">
        <div class="row">
            <div class="col-lg-13 text-lg-center">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('forum') }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="title_topic" class="container">
       {{ topic.getTitle }}
    </div>
        {% for thread in threads %}
            <div class="container thread">
                <div class="user_thread">
                    <div class="img_profile">
                        <h4 class="username">{{ thread.getUser }}</h4>
                    </div>
                    <div class="user_message">
                        <p>{{ thread.getText }}</p>
                        <div class="info_thread">
                            <div class="posted_message">Posted : {{ thread.getTimestamp()|date('Y-m-d H:i') }}</div>
                            {% if thread.getLastUpdateBy is not null or thread.getLastUpdateAt is not null %}
                                <div class="edited_message">Edited {{ thread.getLastUpdateAt|date('Y-m-d H:i') }} By {{ thread.getLastUpdateBy }}</div>
                            {% endif %}
                            {% if thread.getUser == app.user or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('get_edit_message', {'category': category, 'subcategory': subcategory, 'topic': topic.hyphenation, 'id': thread.getId}) }}" type="button" class="edit_button">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <div class="container reply">
        {{ form_start(new_reply) }}
            {{ form_errors(new_reply) }}

            {{ form_row(new_reply.reply) }}
        {{ form_end(new_reply) }}
    </div>
{% endblock %}