{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div id="login" class="col-md-4">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="formGroupExampleInput" class="form-control" name="_username" value="{{ last_username }}" placeholder="Enter your username" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="formGroupExampleInput2" class="form-control" name="_password" placeholder="Enter your password" required="required" />
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" id="remember_me" class="form-check-input" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
                <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
    </div>
</div>
{% endblock fos_user_content %}